#table {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
    .title {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translate(-50%);
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
        color: #fff;
        -webkit-text-stroke: 2px black;
    }
    .bet {
        background-color: yellow;
        width: 150px;
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .bet > .sum {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            -webkit-text-stroke: 1px #000;
        }
        .bet > .chip {
            width: 100px;
        }
    .bank {
        background-color: thistle;
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 50vw;
        height: 60vh;
    }
        .bank > .bank-chips {
            display: inline-block;
            position: absolute;
            width: 110px;
            height: 110px;
        }
        .bank > .bank1{
            background-color: pink;
            top: 5px;
            left: 5px;
        }
        .bank > .bank10{
            background-color: plum;
            top: 123px;
            left: 30px;
        }
        .bank > .bank100{
            background-color: powderblue;
            bottom: 40px;
            left: 39%;
        }
        .bank > .bank500{
            background-color: skyblue;
            bottom: 5px;
            right: 5px;
        }
    .cards {}
    .button {}