#table {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
    .title {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translate(-50%);
        font-size: 50px;
        font-weight: 700;
        text-transform: capitalize;
        color: #fff;
        -webkit-text-stroke: 2px black;
    }
    .bet {
        width: 150px;
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .bet > .sum {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            -webkit-text-stroke: 1px #000;
        }
        .bet > .chip {
            width: 100px;
        }
    .bank {
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 50vw;
        max-width: 300px;
        height: 50vh;
    }
        .bank > .bank-chips {
            display: inline-block;
            position: absolute;
            width: 130px;
            height: 130px;
            cursor: pointer;
        }
            .bank-chips > img {
                width: 128px;
            }
        .bank > .bank1{
            top: 5px;
            left: 5px;
        }
        .bank > .bank10{
            top: 110px;
            left: 15px;
        }
        .bank > .bank100{
            bottom: -23px;
            left: 21%;
        }
        .bank > .bank500{
            bottom: -40px;
            right: -2px;
        }
        .bank > .bank-total{
            position: absolute;
            width: fit-content;
            left: 101%;
            bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            -webkit-text-stroke: 1px #000;
        }
    .cards {
        position: absolute;
        background-color: violet;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
        .cards > .player {}
        .cards > .dealer {}
        .cards img {
            display: inline-block;
            width: 100px;
        }
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 60px;
        height: 60px;
        background: radial-gradient(circle, #b3b3b6 0%, #141414 80%);
        text-transform: capitalize;
        color: white;
        border-radius: 50%;
        border: 2px solid #000;
        box-shadow: 0px 0px 0px #000000bf;
        bottom: 25%;
        cursor: pointer;
    }
    .button.deal {
        left: 30%;
    }
    .button.split {
        left: 40%;
    }
    .button.stand {
        left: 60%;
    }



    @media (max-width: 1100px){}
    @media (max-width: 768px){}
    @media (max-width: 420px){}