@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Kalam', cursive;
word-break: break-all;
}